<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/f2b6f6518a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <!-- adding respective css file for respective ejs file -->
        <%- style %>
    </head>
    <body>
        <!-- variable part -->
        <%- body %>



        <!-- adding respective js file for respective ejs file  -->
        <%- script %>
    </body>
</html>