/* tags  */

/* giving body grey background color  */
body{
    background-color: grey;
    font-family: sans-serif;
}
/* now we can change height width margin padding of span tag  */
span{
    display: inline-block;
}
/* putting heading at top center  */
#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
    text-decoration: underline;
}
button{
    cursor: pointer;
}



/* classes  */

.border-and-dimension{
    border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
    height: 10%;
    width: 100%;
}
.bold-text{
    font-weight: 700;
    font-size: 20px;
}
.uppercase{
    text-transform: uppercase;
}
.margin-left{
    margin-left: 15px;
}
.margin-top{
    margin-top: 5px;
}
.border-top{
    border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
}


/* id  */

/* setting the todo list box properties  */
#container{
    background-color: white;
    margin: auto;
    width: 70vw;
    height: 95vh;
    font-size: 12px;
}
#form input, #form select{
    border: 0px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
}
#form-description input, #form-category select{
    width: 95%;
}
#form-category{
    width: 50%;
    margin:0px;
    position: relative;
    bottom: 1px;
    border-top: 0px;
    border-right: 1px lightgrey solid;
}
#form-date{
    width: 50%;
    margin:0px;
    margin-left:-5px;
    border-top:0px;
    
}


.button{
    height:7%;
    width: 20%;
    border:0px;

}
#submit-button{
    height: 100%;
    width: 100%;
    color: white;
    background-color: black;
    border:0px;
    border-radius: 3px;
    transform: translate(145%, 33px);
}
#delete-button{
    height: 100%;
    width: 100%;
    color: white;
    background-color: red;
    border: 0px;
    border-radius: 3px;
    transform: translate(255%, -27px);
}







#mark-button{
    border: 2px solid black;
    height: 15px;
    width: 15px;
    background-color: white;
    transition: 0.2s all;
    border-radius: 3px;
    position: relative;
    bottom: 25px;
}
#mark-button:hover{
    background-color: lightgreen;
}

#single-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
}
#data-markdelete-description-date{
    /* border: 1px yellow solid; */
    width: 80%;
}
#data-markdelete-description-date a{
    text-decoration: none;
}

#data-description-time{
    margin-left: 20px;
}
#data-date{
    color: grey;
    font-weight: 700;
    font-size: 15px;
}
#data-date i{
    font-size: 20px;
    margin-right: 10px;
}
#data-description{
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 700;
    text-transform: capitalize;
}
#data-category{
    align-self: flex-end;
    /* border: 1px green solid; */
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px ;
    color: white;
    position: relative;
    bottom: 15px;
    text-transform: uppercase;
}
#data-category span{
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
}

#single-data:hover{
    background-color: whitesmoke;
    padding: 5px;
}
#database-container{
    overflow: scroll;
    /* max-height: 380px;
    min-height: auto; */
    height: 380px;
}